@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@keyframes fadeIn {
    0% {
      display: none;
      opacity: 0;
    }
    100% {
      display: flex;
      opacity: 1;
    }
  }
